@import "tailwindcss";

@theme {
    --color-primary: #0d2999;
    --color-secondary: #0f766e;
    --color-accent: #f4f4f4;
    --color-background: #ffffff;
    --breakpoint-2xs: 20rem;
    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 1536px;
}
